body
{
	background: black url("dancingflamingo.gif"); /* composit background */
	background-repeat:no-repeat;
	background-position : center center;
	background-attachment : fixed;
	background-size: contain;c
	font-family: Palatino, "Times CY", "Palatino Linotype", "Times New Roman", serif;
}

footer
{ 
   text-align:center;
}

p
{
	text-align:justify;
	width:70%;/*donner width pour que s'étire pas puis*/
	margin-left: auto;
    margin-right: auto;
}

#header
{
	display: block;
	color : white;
	width:70%;/*donner width pour que s'étire pas puis*/
	margin:auto;/*alignement dans block parent*/
	text-align:center;
}

#articleList
{
	width:70%;
	margin : auto; /*centrage dans body*/
	padding-left:0;/*annule le padding pr defaut*/
}

#articleTitle
{
	width:70%;/*donner width pour que s'étire pas puis*/
	margin:auto;/*alignement dans block parent*/
	text-align:center;
}

.flag
{
	width=17px;
	height=14px;
}

.articleListElement
{
	text-align:center;
	list-style-type: none; /*enlever puce par défaut*/
	 /*style piqué sur alsacreation*/
    background: #678;
	border-radius: 60px;
	font-weight: bold;
	font-size: 20;
	color: white;		
	width:300px;
	margin:auto;
}

a 
{
  text-decoration: none;
  color: white;
}
a:visited {
  color: blue;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
  background: blue;
}
