﻿body
{
	background-color:grey;
	font-family: Palatino, "Times CY", "Palatino Linotype", "Times New Roman", serif;
}


#holder 
{ 
    border: 10px dashed #ccc; 
	width: 500px; 
	height: 500px; 
	margin: 10% auto;
}
#holder.hover 
{ 
    border: 10px dashed #333; 
}


#ptitle
{
	text-align:center;
	margin-top:48%;
}

#counter
{
	margin: 5% auto;
	display:block;
}


footer
{ 
   text-align:center;
   margin-top:40%;
}

p
{
	text-align:justify;
	width:70%;/*donner width pour que s'étire pas puis*/
	margin-left: auto;
    margin-right: auto;
}

#header
{
	display: block;
	color : white;
	width:70%;/*donner width pour que s'étire pas puis*/
	margin:auto;/*alignement dans block parent*/
	text-align:center;
}

#articleList
{
	width:70%;
	margin : auto; /*centrage dans body*/
	padding-left:0;/*annule le padding pr defaut*/
	margin-top:10px;
}

#articleTitle
{
	width:70%;/*donner width pour que s'étire pas puis*/
	margin:auto;/*alignement dans block parent*/
	text-align:center;
}

.flag
{
	width=17px;
	height=14px;
}

.articleListElement
{
	text-align:center;
	list-style-type: none; /*enlever puce par défaut*/
	 /*style piqué sur alsacreation*/
    background: #678;
	border-radius: 60px;
	font-weight: bold;
	font-size: 20;
	color: white;		
	width:300px;
	margin:auto;
}

a 
{
  text-decoration: none;
  color: white;
}
a:visited {
  color: black;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
	margin : auto;
	display:block;
	width:50%;
	text-align:center;
	
}

a[class="button"]:hover
{
	/* effacer le hover blue moche habituel */
	 
}

.setlisttable
{
	margin:auto;
}

